@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Inter:wght@400;600;500;800&family=Orbitron:wght@400;800&display=swap');

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* -------------------------------------------------------------------------- */
/*                                    THEME                                   */
/* -------------------------------------------------------------------------- */
/* :root represents the <html> */
:root {
    --dark-background-color: #1C1C1C;
    --dark-background-color-alt: #222222;
    --dark-trim-color: #333333;
    --dark-text-color: #ffffff;
}

body {
    /* Light Theme */
    --background-color: #ffffff;
    --background-color-alt: #eeeeee;
    --trim-color: #dddddd;
    --text-color: #333333;

    --primary-color: #009578;
    --font-family: 'Inter', sans-serif;

    color: var(--text-color);
    background: var(--background-color);
    font-family: var(--font-family);

    margin: 0;
    max-width: 100%;
    min-height: 90vh;
}

/* use off css preprocessor */
/* if media is prefer dark theme, then auto the website theme to dark */
@media (prefers-color-scheme: dark) {
    body.theme-auto {
        --background-color: var(--dark-background-color);
        --background-color-alt: var(var(--dark-background-color-alt));
        --trim-color: var(--dark-trim-color);
        --text-color: var(--dark-text-color);
    }
}

body.theme-dark {
    /* Dark Theme */
    --background-color: var(--dark-background-color);
    --background-color-alt: var(var(--dark-background-color-alt));
    --trim-color: var(--dark-trim-color);
    --text-color: var(--dark-text-color);
}

h1.theme-light {
    font-family: 'Karla', sans-serif;
    color: #2B283A;
    font-size: 40px;
}

.select-theme {
    margin: 20px;
    display: flex;
    justify-content: right;
    flex-direction: row;
}

.select-theme i {
    padding: 5px 0 0 0;
}

.select__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 7px 14px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    font-weight: 500;
    font-family: var(--font-family);
    margin: auto 0;
}

.select__input option {
    color: #000000;
}

/* -------------------------------------------------------------------------- */
/*                                    MAIN                                    */
/* -------------------------------------------------------------------------- */
.container {
    width: 730px;
    border: 1px solid black;
    margin: 10vh auto;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    background: #F4F4F4;
    display: flex;
    flex-direction: column;
}

.container h1 {
    color: #ffffff;
}

.container.theme-dark {
    background: #1F2937;
}

.converted.theme-dark {
    background: #273549;
}

.convertor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #6943ff;
    margin-bottom: 22px;
}

.convertor h1 {    
    font-weight: 800;
    font-size: 28px;
    
    letter-spacing: -0.03em;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.converted {
    width: 80%;
    margin: 2%;
    align-self: center;

    /* white-theme */
    background: #FFFFFF;
    border-radius: 5px 0px 0px 0px;
}

.converted.theme-dark p {
    color: white;
}

.converted h1 {
    text-align: center;
    font-weight: 600;
    font-size: 20px;

    color: #5A537B;

    margin: 20px;
}

.converted p {
    text-align: center;
    font-size: 14px;
    color: #353535;
}

#convert-inp {
    display: flex;
    border: 2px solid #cdbbfc;
    border-radius: 5px;
    width: 120px;
    height: 85px;
    background: none;
    
    font-size: 58px;
    font-weight: 800px;
    text-align: center;
    line-height: 24px;
    color: white;
}

#convert-btn {
    width: 117px;
    height: 42px;
    background: whitesmoke;

    /* shadow/sm */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;

    margin: 20px;
    cursor: pointer;

    color: #3d3d3d;
    font-weight: 500;
    font-size: 16px;
}


/* -------------------------------------------------------------------------- */
/*                              SOCIAL PANEL CSS                              */
/* -------------------------------------------------------------------------- */
.social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
	transform: translateX(-10px);
}

.social-panel {	
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
	border: 5px solid #001F61;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Muli', sans-serif;
	position: relative;
	height: 169px;	
	width: 370px;
	max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
	border: 0;
	color: #97A5CE;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.social-panel button.close-btn:focus {
	outline: none;
}

.social-panel p {
	background-color: #001F61;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}

.social-panel p i {
	margin: 0 5px;
}

.social-panel p a {
	color: #FF7500;
	text-decoration: none;
}

.social-panel h4 {
	margin: 20px 0;
	color: #97A5CE;	
	font-family: 'Muli';	
	font-size: 14px;	
	line-height: 18px;
	text-transform: uppercase;
}

.social-panel ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-panel ul li {
	margin: 0 10px;
}

.social-panel ul li a {
	border: 1px solid #DCE1F2;
	border-radius: 50%;
	color: #001F61;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.social-panel ul li a:hover {
	border-color: #FF6A00;
	box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
	border-radius: 26.5px;
	background-color: #001F61;
	border: 1px solid #001F61;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
}

.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}

.netlify img{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25px;
	width: 25px;
}

@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}